Client2/Service References/ServiceReference1/task21.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/RsiZ3Bookshelf" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/RsiZ3Bookshelf" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Issue">
    <xs:sequence>
      <xs:element minOccurs="0" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Issue" nillable="true" type="tns:Issue" />
</xs:schema>